<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.ClassMapper">
    <resultMap id="ClassResultMap" type="com.example.demo.entity.Class">
        <id property="classID" column="classID" />
        <result property="classname" column="classname" />
        <result property="teacherID" column="teacherID" />
    </resultMap>
    <select id="findClassByID" resultMap="ClassResultMap">
        SELECT * FROM class WHERE classID = #{classID}
    </select>
</mapper>