<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.StudentMapper">
    <resultMap id="StudentResultMap" type="com.example.demo.entity.Student">
        <id property="studentID" column="studentID" />
        <result property="studentname" column="studentname" />
        <result property="userID" column="userID" />
    </resultMap>
    <select id="findStudentByID" resultMap="StudentResultMap">
        SELECT * FROM students WHERE studentID = #{studentID}
    </select>
</mapper>