<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.UserMapper">
    <resultMap id="UserResultMap" type="com.example.demo.entity.User">
        <id property="userId" column="userID" />
        <result property="username" column="username" />
        <result property="password" column="password" />
        <result property="userroleID" column="userroleID" />
    </resultMap>
    <select id="findUserByUsernameAndPassword" resultMap="UserResultMap">
        SELECT * FROM user WHERE username = #{username} AND password = #{password} And userroleID = #{userroleID}
    </select>
    <!-- 新增注册用户的SQL语句 -->
    <insert id="insertUser">
        INSERT INTO user (userID, username, password, userroleID) VALUES (#{userID}, #{username}, #{password}, #{userroleID})
    </insert>
    <select id="findUserWithMaxUserId" resultMap="UserResultMap">
        SELECT * FROM user WHERE userId = (SELECT MAX(userId) FROM user)
    </select>
</mapper>